* {
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.9;
	background-color: black;
}

.overlay-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu, .wave {
	color: white;
	font-size: 20px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wave {
	opacity: 0;
}

.showTransition {
	transition: opacity 2s;
	opacity: 1;
}

.hideTranstion {
	transition: opacity 2s;
	opacity: 0;
}

.start-game {
	cursor: pointer;
}

.start-game:hover {
	color: red;
}

.hide {
	display: none;
}
